extends layout

block content
    h2 Wes Head
    p A top-notch web developer. Exhibit A (gestures to surrounding website).
    h4 Technical
    ul
        li
            a(href="https://bitbucket.org/weshead", target="_blank") Bitbucket
        li
            a(href="https://github.com/weshead", target="_blank") Github
        li
            a(href="https://dribbble.com/weshead", target="_blank") Dribbble
        li
            a(href="http://github.com/weshead", target="_blank") CodePen
    h4 Social
    ul
        li
            a(href="http://twitter.com/alphipilly", target="_blank") Twitter
        li
            a(href="https://plus.google.com/+WesHead85", target="_blank") Google+
        li
            a(href="https://www.reddit.com/user/alphipilly", target="_blank") Reddit
        li
            a(href="https://www.linkedin.com/in/wes-head-03a54363", target="_blank") LinkedIn
    h4 Gaming
    ul
        li
            a(href="https://account.xbox.com/en-US/Profile?xr=socialtwistnav", target="_blank") XBL gamer tag: alphipilly
        li
            a(href="http://steamcommunity.com/id/alphipilly/home", target="_blank") SteamID: alphipilly
        li
            p 3DS friend code: 0344 - 9463 - 6911
        li
            p PSN ID: alphipilly
